version: '3.8'

services:
  php:
    image: php:8.4-fpm
    container_name: php
    working_dir: /var/www/html
    volumes:
      - ./app:/var/www/html
    networks:
      - symfony
    depends_on:
      - db
    environment:
      COMPOSER_ALLOW_SUPERUSER: 1
    command: ["php-fpm"]

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./app:/var/www/html
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - php
    networks:
      - symfony

  db:
    image: mysql:8.0
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: symfony
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - symfony

volumes:
  db_data:

networks:
  symfony:
    driver: bridge
